<h1>INGREDIENTS</h1>
#if ($ingredients.size() > 0)
  #foreach ($ingredient in $ingredients)
    <div class="panel panel-default">
      <a href="/ingredients/$ingredient.getId()/recipes">$ingredient.getName()</a>
    </div>
  #end
#else
  <h3>No ingredients yet.</h3>
#end
